[Desktop Entry]
Type=Application
Exec=pidgin
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=pidgin
Name=pidgin
Comment[en_US]=
Comment=
