[Desktop Entry]
Type=Application
Exec=/usr/bin/xmodmap /home/niklas/.Xmodmap
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Modify keyboard layout
Name=Modify keyboard layout
Comment[en_US]=
Comment=
