[Desktop Entry]
Type=Application
Exec=zdesktop
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Zdesktop
Name=Zdesktop
Comment[en_US]=
Comment=
